In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
with open('unprocessed_dataset.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)

In [3]:
df = pd.read_csv('unprocessed_dataset.csv')
column_names = df.columns
empty_entry = '    '

C:\Users\berpr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (13,15,16,18,32,34,36,37,41,45,46,55,71,83,84,86,87,90,91,92,96,98,100,101,103,104,105,106,107,108,109) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,CASEID,YYYYMM,YYYYQ,YYYY,ID,IDPREV,DATEPR,ICS,ICC,ICE,...,GAS1PX1,GAS1PX2,GAS1,PINC,PINC2,PJOB,PSSA,PCRY,PSTK,WT
0,1,197801,19781,1978,1,,,76.71,116.23,51.32,...,,,,,,,,,,0.00
1,2,197801,19781,1978,2,,,121.12,154.08,99.94,...,,,,,,,,,,0.72
2,3,197801,19781,1978,3,,,2.70,2.70,2.70,...,,,,,,,,,,1.03
3,4,197801,19781,1978,4,,,76.71,154.08,27.01,...,,,,,,,,,,0.00
4,5,197801,19781,1978,5,,,121.12,116.23,124.25,...,,,,,,,,,,0.93

In [40]:
income_labels = ["PAGO", "PEXP", "BAGO", "INEXQ1"]
income = df[income_labels].replace(" ", "")
for label in income_labels:
    income = income[income[label] != '']
income = income.astype(int)
corrM = income.corr()
corrM

            PAGO      PEXP      BAGO    INEXQ1
PAGO    1.000000  0.224040  0.264713  0.267169
PEXP    0.224040  1.000000  0.188482  0.326070
BAGO    0.264713  0.188482  1.000000  0.162817
INEXQ1  0.267169  0.326070  0.162817  1.000000